
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}



/* Full Width Hero Section */
#overview, #rooms, #gallery, #booking {
  width: 100vw; /* Ensure sections span the full width */
  max-width: 100%;
}

/* Padding adjustments for responsiveness */
.container {
  padding-left: 0rem; /* Reduce padding on smaller screens */
  padding-right: 0rem; /* Reduce padding on smaller screens */
}

@media (max-width: 768px) {
  .container {
    padding-left: 0.0rem;
    padding-right: 0.0rem;
  }
}
#root {
  max-width: auto;
  margin: 0 auto;
  width: 100vw;
  overflow-x: hidden;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 50s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* App.css */
#entrance-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.logo-container {
  position: relative;
  z-index: 10;
}

.logo {
  width: 150px;
  height: auto;
  opacity: 0;
  animation: fadeInLogo 2s forwards ease-in-out;
}


@keyframes fadeInLogo {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}



.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  color: #2f4f4f;
  border: 1px solid #2f4f4f;
  padding: 8px 12px;
  border-radius: 8px;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #2f4f4f !important;
  color: #fff !important;
}

.react-datepicker__header {
  background-color: #2f4f4f;
  border-bottom: none;
}

.Hero-home {

  color:red
  te
}

.rethink-sans-lake {
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.section-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}