@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Outfit:wght@100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.parallax-background {
  background: url('/bbq-background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.btn-primary {
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out, background-color 0.3s;
}

.btn-primary:hover {
  background-color: #3E8E41;
  transform: scale(1.05);
}

.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:48px;
}

.alumni-sans-pinstripe-nav {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size:30px;
}

.alumni-sans-pinstripe-regular-italic {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: italic;
}


.rethink-sans-lake {
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-lake {
  font-family: "Rethink Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-nav {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}

p {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size:30px;
}

h1{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}

h2{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
  font-size: 56px;

}

h3{
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 35px;
  

  
}

.nav {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size:30px;
}
